<% @title = "New Topic" %>

<h1>New Topic</h1>

<%= form_for [@topic.subforum, @topic] do |f| %>

  <%= render "topic_form", f: f %>

  <%= f.submit "Create Topic", class: "btn btn-primary" %>

<% end %>