<li>
  <%= gravatar_for user %>
  <%= link_to user.username, "/" + user.username %>
  <% if current_user.admin? && !current_user?(user) && !user.admin? %>
      | <%= link_to "delete", "/" + user.username, method: :delete, data: { confirm: "You sure you want to delete #{user.username}?" } %>
  <% end %>
</li>