<% @title = "Edit Sub-Forum" %>

<h1>Edit <%= @sforum.name %> </h1>

<%= form_for @sforum do |t| %>

  <%= render "subforum_form", f: t %>

  <%= t.submit "Update Sub-Forum", class: "btn btn-primary" %>

<% end %>