<li>
	<span class="timestamp">
		<%= link_to User.find(wallpost.user_id).username, user_path(User.find(wallpost.user_id).username) %>
  		<%= time_ago_in_words(wallpost.created_at) %> ago
  	</span>
	<span class="content">
  		<%= wallpost.content %>
  	</span>
	<% if current_user?(wallpost.user) or (!current_user.nil? and current_user.admin?) or current_user_id?(wallpost.directed_user_id) %>
    	<%= link_to "Delete Post", wallpost, method: :delete,  data: { confirm: "Are you sure you want to delete this post?" }, title: wallpost.content %>
	<% end %>
</li>