/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#follow_form {
	float:left;
}

#admin_form {
	float:right;
}

#follow_form input, #admin_form input {
	margin:0;
}

#follow_form form, #admin_form form {
	width:auto;
}

#follow_form input[value=Unfollow]:hover {
	background-color:#600000; /*red*/
 	color:#fff; /*white*/
}