<footer class="footer">
  <small><%= link_to "Ultimate Beta", root_path%> <em style="color:gray;">V: 1.0</em></small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>